/* :root {
  --md-primary-fg-color:        #ffffff;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
} */

/* [data-md-color-scheme="dicehub"] {
  --md-primary-fg-color:        #247ab7;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
} */


.md-grid {
  /* max-width: 1440px; */
  /* max-width: 85%; */
  /* max-width: 70%; */
}

.md-sidebar--secondary {
  /* width: 25.1rem; */
}


/* @media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: none;
  }
  .md-sidebar--primary {
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    margin-right: 400px;
    -webkit-transform: none;
    transform: none;
  }
} */

/* @media only screen and (min-width: 100em) {
  html {
    font-size: 134.0%;
  }
} */


/* .md-nav {
  font-size: 15px;
  line-height: 1.4;
} */

.md-typeset {
  /* font-size: .7rem; */
  /* line-height: 1.5; */
}

.md-typeset code,
.md-typeset pre {
  white-space: pre-wrap;
  color: var(--code-color);
}

.text-center {
  text-align: center !important;
}

.md-typeset table:not([class]) th {
  color: var(--table-foreground);
  background-color: var(--table-background);
}

/* [data-md-color-scheme="default"] {
  --code-color: #532ba8;
  --table-foreground: var(--md-default-bg-color);
  --table-background: var(--md-default-fg-color--light); table header (text)
}

[data-md-color-scheme="slate"] {
  --code-color: #a47df8;
  --md-typeset-a-color: #7c90ff;
  --table-foreground: #a3acdf;
  --table-background: #272e53; table header backgrounds;
} */
